@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url('doc.png');
    background-color: #243b55;
    background-blend-mode: overlay;
    font-family: 'Poppins', Helvetica;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40dvw;
    height: 100dvh;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 8px;
}
.container h1{
    margin: 20px 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}
.formdiv1{
    position: relative;
}
.formdiv1 input{
    width: 100%;
    padding: 4px 0;
    font-size: 15px;
    line-height: 1;
    color: white;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
select{
    width: 100%;
    padding: 4px 0;
    font-size: 15px;
    line-height: 1;
    color:black;
    font-weight: 400;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
.formdiv1 label{
    font-size: 20px;
    color: beige;
}
.formdiv1 button{
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Poppins', Helvetica;
    border-radius: 5px;
}
.formdiv1 p{
    color: white;
}
.formdiv1 p a{
    color:wheat;
}
